<div id="<%= dom_id materia_docente %>">
  <p>
    <strong>Materia division:</strong>
    <%= materia_docente.materia_division_id %>
  </p>

  <p>
    <strong>Docente:</strong>
    <%= materia_docente.docente_id %>
  </p>

  <p>
    <strong>Titular:</strong>
    <%= materia_docente.titular %>
  </p>

</div>
