<div id="<%= dom_id materia_docente %>">
  <p>
    <strong>Materia:</strong>
    <%= materia_docente.materia_id %>
  </p>

  <p>
    <strong>Docente:</strong>
    <%= materia_docente.docente_id %>
  </p>

  <p>
    <strong>Division:</strong>
    <%= materia_docente.division_id %>
  </p>

</div>
