<% content_for :title, "Editing materia docente" %>

<h1>Editing materia docente</h1>

<%= render "form", materia_docente: @materia_docente %>

<br>

<div>
  <%= link_to "Show this materia docente", @materia_docente %> |
  <%= link_to "Back to materia docentes", materia_docentes_path %>
</div>
