<% content_for :title, "New materia docente" %>

<h1>New materia docente</h1>

<%= render "form", materia_docente: @materia_docente %>

<br>

<div>
  <%= link_to "Back to materia docentes", materia_docentes_path %>
</div>
