<div id="<%= dom_id ciclo_lectivo %>">
  <p>
    <strong>Año:</strong>
    <%= ciclo_lectivo.año %>
  </p>

  <p>
    <strong>Inicio:</strong>
    <%= ciclo_lectivo.inicio %>
  </p>

  <p>
    <strong>Final:</strong>
    <%= ciclo_lectivo.final %>
  </p>

</div>
