<% content_for :title, "Editing ciclo lectivo" %>

<h1>Editing ciclo lectivo</h1>

<%= render "form", ciclo_lectivo: @ciclo_lectivo %>

<br>

<div>
  <%= link_to "Show this ciclo lectivo", @ciclo_lectivo %> |
  <%= link_to "Back to ciclo lectivos", ciclo_lectivos_path %>
</div>
