<h1> Ciclos Lectivos </h1>

<%= render 'shared/index_table',
  headers: ['Año', 'Inicio', 'Finalización'],
  collection: @ciclo_lectivos,
  columns: [
    ->(c) { c.año },
    ->(c) { c.inicio.strftime("%d/%m/%Y") },
    ->(c) { c.final.strftime("%d/%m/%Y") }
  ],
  new_path: new_ciclo_lectivo_path, new_label: 'Ciclo Lectivo'
%>
