<% content_for :title, "New ciclo lectivo" %>

<h1>New ciclo lectivo</h1>

<%= render "form", ciclo_lectivo: @ciclo_lectivo %>

<br>

<div>
  <%= link_to "Back to ciclo lectivos", ciclo_lectivos_path %>
</div>
