<div id="<%= dom_id modulo %>">
  <p>
    <strong>Materia division:</strong>
    <%= modulo.materia_division_id %>
  </p>

  <p>
    <strong>Dia:</strong>
    <%= modulo.dia %>
  </p>

  <p>
    <strong>Cantidad:</strong>
    <%= modulo.cantidad %>
  </p>

</div>
