<% content_for :title, "Editing modulo" %>

<h1>Editing modulo</h1>

<%= render "form", modulo: @modulo %>

<br>

<div>
  <%= link_to "Show this modulo", @modulo %> |
  <%= link_to "Back to modulos", modulos_path %>
</div>
