<h1> Divisiones </h1>

<%= render 'shared/index_table',
  headers: ['Nombre'],
  collection: @divisions,
  columns: [
    ->(d) { d.nombre }
  ],
  new_path: new_division_path, new_label: 'División'
%>
