<div id="<%= dom_id materia_alumno %>">
  <p>
    <strong>Materia division:</strong>
    <%= materia_alumno.materia_division_id %>
  </p>

  <p>
    <strong>Alumno:</strong>
    <%= materia_alumno.alumno_id %>
  </p>

</div>
