<% content_for :title, "Editing materia alumno" %>

<h1>Editing materia alumno</h1>

<%= render "form", materia_alumno: @materia_alumno %>

<br>

<div>
  <%= link_to "Show this materia alumno", @materia_alumno %> |
  <%= link_to "Back to materia alumnos", materia_alumnos_path %>
</div>
