<% content_for :title, "New materia alumno" %>

<h1>New materia alumno</h1>

<%= render "form", materia_alumno: @materia_alumno %>

<br>

<div>
  <%= link_to "Back to materia alumnos", materia_alumnos_path %>
</div>
