<div id="<%= dom_id materia_division %>">
  <p>
    <strong>Materia:</strong>
    <%= materia_division.materia_id %>
  </p>

  <p>
    <strong>Division:</strong>
    <%= materia_division.division_id %>
  </p>

</div>
