<% content_for :title, "New materia division" %>

<h1>New materia division</h1>

<%= render "form", materia_division: @materia_division %>

<br>

<div>
  <%= link_to "Back to materia divisions", materia_divisions_path %>
</div>
