<div id="<%= dom_id materium %>">
  <p>
    <strong>Curso:</strong>
    <%= materium.curso_id %>
  </p>

  <p>
    <strong>Orientacion:</strong>
    <%= materium.orientacion_id %>
  </p>

  <p>
    <strong>Ciclo lectivo:</strong>
    <%= materium.ciclo_lectivo_id %>
  </p>

</div>
