<% content_for :title, "Editing asistencia general" %>

<h1>Editing asistencia general</h1>

<%= render "form", asistencia_general: @asistencia_general %>

<br>

<div>
  <%= link_to "Show this asistencia general", @asistencia_general %> |
  <%= link_to "Back to asistencia generals", asistencia_generals_path %>
</div>
