<p style="color: green"><%= notice %></p>

<% content_for :title, "Asistencia generals" %>

<h1>Asistencia generals</h1>

<div id="asistencia_generals">
  <% @asistencia_generals.each do |asistencia_general| %>
    <%= render asistencia_general %>
    <p>
      <%= link_to "Show this asistencia general", asistencia_general %>
    </p>
  <% end %>
</div>

<%= link_to "New asistencia general", new_asistencia_general_path %>
