<h1>Asistencia general</h1>

<%= render partial: 'shared/index_table', locals: {
  headers: ['Fecha', 'Alumno', 'Parámetro', 'Observaciones'],
  collection: @asistencia_generals,
    columns: [
      ->(asist_gral) { asist_gral.fecha },
      ->(asist_gral) { asist_gral.alumno&.display_name },
      ->(asist_gral) { asist_gral.parametro&.nombre },
      ->(asist_gral) { truncate(asist_gral.observaciones, length: 80) }
    ],
    new_path: new_asistencia_general_path,
    new_label: 'Asistencia'
} %>
