<% content_for :title, "New asistencia general" %>

<h1>New asistencia general</h1>

<%= render "form", asistencia_general: @asistencia_general %>

<br>

<div>
  <%= link_to "Back to asistencia generals", asistencia_generals_path %>
</div>
