<p style="color: green"><%= notice %></p>

<% content_for :title, "Asistencia materia" %>

<h1>Asistencia materia</h1>

<div id="asistencia_materia">
  <% @asistencia_materia.each do |asistencia_materium| %>
    <%= render asistencia_materium %>
    <p>
      <%= link_to "Show this asistencia materium", asistencia_materium %>
    </p>
  <% end %>
</div>

<%= link_to "New asistencia materium", new_asistencia_materium_path %>
