<% content_for :title, "New asistencia materium" %>

<h1>New asistencia materium</h1>

<%= render "form", asistencia_materium: @asistencia_materium %>

<br>

<div>
  <%= link_to "Back to asistencia materia", asistencia_materia_path %>
</div>
