<% content_for :title, "Editing asistencia materia" %>

<h1>Editing asistencia materia</h1>

<%= render "form", asistencia_materia: @asistencia_materia %>

<br>

<div>
  <%= link_to "Show this asistencia materia", @asistencia_materia %> |
  <%= link_to "Back to asistencia materias", asistencia_materias_path %>
</div>
