<% content_for :title, "New asistencia materia" %>

<h1>New asistencia materia</h1>

<%= render "form", asistencia_materia: @asistencia_materia %>

<br>

<div>
  <%= link_to "Back to asistencia materias", asistencia_materias_path %>
</div>
