<% content_for :title, "Editing orientacion" %>

<h1>Editing orientacion</h1>

<%= render "form", orientacion: @orientacion %>

<br>

<div>
  <%= link_to "Show this orientacion", @orientacion %> |
  <%= link_to "Back to orientacions", orientacions_path %>
</div>
