<p style="color: green"><%= notice %></p>

<% content_for :title, "Orientacions" %>

<h1>Orientacions</h1>

<div id="orientacions">
  <% @orientacions.each do |orientacion| %>
    <%= render orientacion %>
    <p>
      <%= link_to "Show this orientacion", orientacion %>
    </p>
  <% end %>
</div>

<%= link_to "New orientacion", new_orientacion_path %>
