<h1> Orientaciones </h1>

<%= render 'shared/index_table',
  headers: ['Nombre'],
  collection: @orientacions,
  columns: [
    ->(o) { o.nombre }
  ],
  new_path: new_orientacion_path, new_label: 'Orientación'
%>
